<div class="sidenav">
  <h2>Top Posts</h2>
  <ul class="popular-posts">
    <div>
      <li>
        <a href="{{site.baseurl}}/online-school-what-to-look-forward-to/">Online School & What To Look Forward To</a>
      </li>
    </div>
    <div>
      <li>
        <a class="posts-button" href="{{site.baseurl}}/UBC-first-year-engineering-courses/">UBC 1st Year Engineering
          Courses</a>
      </li>
    </div>
    <div>
      <li>
        <a href="{{site.baseurl}}/guide-to-ubc-engineering-design-teams/">Guide to UBC Engineering Design Teams</a>
      </li>
    </div>
    <div>
      <li>
        <a href="{{site.baseurl}}/reflecting-upon-first-year-at-UBC-engineering/">Reflecting Upon First Year</a>
      </li>
    </div>
  </ul>
  <br />
  <!-- DISABLED: do nothing if page has an emoji variable set, since then it is a post, and I don't want to display
  the about me icon on posts. This isn't a very good way of doing this, but I don't know how else to separate
  posts from pages... -->
  <div class="intro-abt-me" style="text-align: center; max-width: 300px; ">
    <picture>
      <source srcset="{{site.baseurl}}/assets/img/about-me-circle.webp" type="image/webp">
      <source srcset="{{site.baseurl}}/assets/img/about-me-circle.png" type="image/png">
      <img style="max-height:200px;" alt="A Drawing of Me" src="{{site.baseurl}}/assets/img/about-me-circle.png" />
    </picture>
    <div>
      <p class="description">
        Hi there! I’m a 4th year computer science student at UBC. Get to
        know more <a href="{{site.baseurl}}/about-me">about me</a>, go to the <a href="{{site.baseurl}}">homepage</a>,
        or read on!
      </p>
    </div>
    <br />
  </div>
</div>