<div class="sidenav">
  <h2>Top Posts</h2>
  <ul class="popular-posts">
    <div><li>
        <a class = "posts-button" href="{{site.baseurl}}/UBC-first-year-engineering-courses/"
          >UBC 1st Year Course Guide</a
        >
      </li>
    </div>
    <div><li>
        <a href="{{site.baseurl}}/first-year-engineering-at-UBC/"
          >My First Year experience</a
        >
      </li>
    </div>
    <div>
      <li>
        <a href="{{site.baseurl}}/why-i-plan-to-study-less/"
          >Why I Plan to Study Less</a
        >
      </li>
    </div>
    <div>
      <li>
        <a href="{{site.baseurl}}/guide-to-ubc-engineering-design-teams/"
          >Your Guide to Engineering Design Teams</a
        >
      </li>
    </div>
  </ul>
</div>
