p {
  color: black;
}

#icon {
  max-height: 400px;
  margin: 30px 0 0;

  display: inline-block;
}

.description {
  margin: 10px 110px 0;
  display: inline-block;
}
h2 {
  margin: 10px 0 20px;
  font-size: 2.3em;
  font-weight: bold;
}

#about-wrapper {
  margin-left: auto;
  width: 70%;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .description {
    margin: 0 5px 0;
    display: inline-block;
  }
}
