---
layout: page
title: Ask Me
permalink: /ask-me-anything/
display-title:
comments: true;
---

<div class="ama-wrapper">
  <h2>Ask Me Anything!</h2>
  <p>
    Leave any comments/questions below...I couldn't figure out how to set up a
    commenting system myself so send me a question via google form below,
    and I will post your question + my answer on the blog (below) when I see them.
    I don't really want to use a third party hoster like disqus because they require
    you to sign up before commenting, and I'm not knowledgeable enough to make GET/POSTS requests
    to create my own commenting system, so this is just going to make do. Check back 
    at this page for the response!
  </p>

  <iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLScRcHHcpoUozoFsjXLOaE65_bmRkD3TMM61IQVoSRlHWXqYNA/viewform?embedded=true"
    width="640"
    height="640"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
    >Loading…</iframe
  >

  <div class = "question">
      <figcaption>2020-05-09</figcaption>
    <p>Minnie: This is a sample question.  </p>
  </div>
  <div class = "answer">
    <p>This is a sample answer. - Cindy</p>
  </div>

  <br>
  <div class = "question">
      <figcaption>2020-05-09</figcaption>
    <p>Arnold: Where do I find what classes I should take if I'm planning to go into UBC Sciences first year?  </p>
  </div>
  <div class = "answer">
    <p>Hello Arnold, you can take a look at the link here:<a href = "https://science.ubc.ca/students/new/courses"> first year courses</a></p>
  </div>

  <br>




<!-- {%- if site.disqus.shortname -%} {%- include comment.html -%} {%- endif -%} -->
<!-- Comments -->
<!-- {% if site.data.comments[page.slug] %}
<h3>
  {% if site.data.comments[page.slug].size > 1 %} {{
  site.data.comments[page.slug] | size }} {% endif %} Comments:
</h3>
{% assign comments = site.data.comments[page.slug] | sort %} {% for comment in
comments %}
<label>
  {% if comment[1].url %}
  <a href="{{ comment[1].url }}">
    {% endif %}
    <strong>{{ comment[1].name }}</strong>
    {% if comment[1].url %}
  </a>
  {% endif %}
</label>
<em>{{ comment[1].date | date: "%B %d, %Y" }}</em>
<p>{{ comment[1].message | markdownify }}</p>
{% endfor %} {% endif %} -->
