<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class = "useless-sidenav">
      </div>
      <div class="wrapper">
        {{ content }}
      </div>
      <div class="sidenav">
          <h2>Top Posts</h2>
          <ul class = "popular-posts"> 
            <li><a href="{{site.baseurl}}/UBC-first-year-engineering-courses/">UBC 1st Year Course Guide</a></li>
            <li><a href="{{site.baseurl}}/first-year-engineering-at-UBC/">My first year experience</a></li>
            <li><a href="{{site.baseurl}}/why-i-plan-to-study-less/">Why I Plan to Study Less</a></li>
            <li><a href="{{site.baseurl}}/guide-to-ubc-engineering-design-teams/">Your Guide to Engineering Design Teams</a></li>
          </ul>
        </div>

    </main>

    {%- include footer.html -%}

  </body>

</html>
