<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class = "useless-sidenav">
      </div>
      <div class="wrapper">
        {{ content }}
      </div>
      {%- include side-bar.html -%}

    </main>

    {%- include footer.html -%}

  </body>

</html>